---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
# BinPackParameters: false
# AllowAllParametersOfDeclarationOnNextLine: false
---
Language: Cpp
# DerivePointerAlignment: false
# PointerAlignment: Left
# AllowShortBlocksOnASingleLine: Always
# BreakBeforeBraces: Attach
# IndentWidth: 2
ContinuationIndentWidth: 2
# AlwaysBreakTemplateDeclarations: Yes